<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polaris.exam.mapper.ClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.polaris.exam.pojo.Class">
        <id column="id" property="id" />
        <result column="class_code" property="classCode" />
        <result column="class_count" property="classCount" />
        <result column="class_name" property="className" />
        <result column="level" property="level" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, class_code, class_count, class_name, level, create_time, status
    </sql>

    <select id="getOneTeacherSubject" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT subject_id  FROM class_teacher WHERE class_id=#{classId} AND `status`=1 LIMIT 1
    </select>

    <select id="getTeacherOneClass" parameterType="java.lang.Integer" resultType="com.polaris.exam.pojo.Class">
        SELECT * FROM class
        WHERE id = (
            SELECT class_id FROM class_teacher WHERE teacher_id = #{teacherId} AND `status` = 1 LIMIT 1
            )
    </select>
</mapper>
