<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polaris.exam.mapper.ExamPaperAnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.polaris.exam.pojo.ExamPaperAnswer">
        <id column="id" property="id" />
        <result column="exam_paper_id" property="examPaperId" />
        <result column="paper_name" property="paperName" />
        <result column="paper_type" property="paperType" />
        <result column="subject_id" property="subjectId" />
        <result column="system_score" property="systemScore" />
        <result column="user_score" property="userScore" />
        <result column="paper_score" property="paperScore" />
        <result column="question_correct" property="questionCorrect" />
        <result column="qunestion_count" property="qunestionCount" />
        <result column="do_time" property="doTime" />
        <result column="status" property="status" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="task_exam_id" property="taskExamId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, exam_paper_id, paper_name, paper_type, subject_id, system_score, user_score, paper_score, question_correct, qunestion_count, do_time, status, create_user, create_time, task_exam_id
    </sql>

    <select id="getPassCount" parameterType="com.polaris.exam.dto.AnalyseParam" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM exam_paper_answer
        WHERE exam_paper_id = #{paperId} AND user_score >= paper_score*0.6
        AND create_user IN
            <foreach collection="studentIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>

    <select id="getAttendCount" parameterType="com.polaris.exam.dto.AnalyseParam" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM exam_paper_answer
        WHERE exam_paper_id = #{paperId}
        AND create_user IN
        <foreach collection="studentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getAvgCount" parameterType="com.polaris.exam.dto.AnalyseParam" resultType="java.lang.Integer">
        SELECT AVG (user_score) FROM exam_paper_answer
        WHERE exam_paper_id = #{paperId}
        AND create_user IN
        <foreach collection="studentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getMaxScore" parameterType="com.polaris.exam.dto.AnalyseParam" resultType="java.lang.Integer">
        SELECT user_score
        FROM exam_paper_answer
        <where>
            and exam_paper_id = #{paperId}
            and create_user IN
                <foreach collection="studentIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
        </where>
        ORDER BY user_score desc limit 1
    </select>

    <select id="getMinScore" parameterType="com.polaris.exam.dto.AnalyseParam" resultType="java.lang.Integer">
        SELECT user_score
        FROM exam_paper_answer
        <where>
            and exam_paper_id = #{paperId}
            and create_user IN
            <foreach collection="studentIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
        ORDER BY user_score limit 1
    </select>

    <select id="getStudentScore" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM exam_paper_answer
        <where>
            and create_user = #{id}
        </where>
        ORDER BY create_time
    </select>
</mapper>
